*~
.*~
*.pyc
Makefile.in
Makefile.orig
config.status
config.log
config.cache
autom4te.cache
configure
aclocal.m4
install-sh
missing
*.aux
*.bbl
*.blg
*.log
*.dvi
*.toc
COPYING
Auxil/
Books20/Makefile
Books20/*/Makefile
Books20/WebPages/Images/Makefile
