*~
.*~
*.pyc
Makefile.in
Makefile.orig
config.status
config.log
config.cache
autom4te.cache
configure
aclocal.m4
install-sh
missing
.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.bib.bak
*.log
*.dvi
*.lot
*.toc
*.out
*.run.xml
Books20/Makefile
Books20/*/Makefile
Books20/WebPages/Images/Makefile
Books20/Tools/TeX/Makefile
Books20/Docs/Series/Makefile